{% extends 'base.html' %}
{% block content %}
<h1>Project Gegevens:</h1>




<div class="card">
    <div class="card-header">
        <h4><strong>{{ project_record.project }}</strong></h4>

    <table>
        <tr>
            <td width=20%><strong>Opdrachtgever: </strong></td>
            <td class="table-light"><strong>{{ project_record.opdrachtgever }}</strong></td>
        </tr>
        <tr>
          <td>Actueel:</td>
          <td>{% if project_record.actueel == True %}
            <div class="form-check">
              <input class="form-check-input"
              type="checkbox" checked="checked"
              value={{project_record.id}}
              named="boxes">
            </div>
            {% else %}
            <div class="form-check">
              <input class="form-check-input"
              type="checkbox"
              value={{project_record.id}}
              named="boxes">
            </div>
            {% endif %}
          </td>
        </tr>
        <tr>
            <td>Tonnage:</td>
            <td>{{ project_record.opmaaktonnage}} ton</td>
        </tr>
        <tr>
            <td>productieweken:</td>
            <td>{{ project_record.productieweken }} week(en)</td>
        </tr>
        <tr>
            <td>Slagingskans:</td>
            <td>{{ project_record.slagingskans }} %</td>
        </tr>
        <tr>
            <td>Planning:</td>
            <td>{{ project_record.planning }}</td>
        </tr>
        <tr>
            <td>Actie houder:</td>
            <td>{{ project_record.actiehouder }}</td>
        </tr>
        <tr>
            <td>Bodemas Percentage:</td>
            <td>{{ project_record.bodemas_perc }} %</td>
        </tr>
        <tr>
            <td>Ton Bodemas:</td>
            <td>{{ project_record.opmaakbodemas }} ton</td>
        </tr>
        <tr>
            <td>Grond Percentage:</td>
            <td>{{ project_record.grond_perc }} %</td>
        </tr>
        <tr>
            <td>Ton Grond:</td>
            <td>{{ project_record.opmaakgrond }} ton</td>
        </tr>
        <tr>
            <td valign="top">Status:</td>
            <td>{{ project_record.status }} ton</td>
        </tr>
        <tr>
            <td valign="top">Actie:</td>
            <td>{{ project_record.actie }} ton</td>
        </tr>
    </table>
  </div>
</div>

</br></br>
<a href="{% url 'home' %}" class="btn btn-secondary">Terug</a>
<a href="{% url 'update_project' project_record.id %}" class="btn btn-warning">Wijzigen</a>
<a href="{% url 'delete_project' project_record.id %}" class="btn btn-danger">Wissen</a>


{% endblock %}
